body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.search-bar{
  text-align: right;
}

.citation-col{
  margin: 2px;
}

.citation-col:hover{
  color: #000!important;
  background-color: #c5cfd9!important;
}

.card{
  background-color: #f8f9fa!important;
  border: 0px!important;
}

.text-muted {
  font-weight: bold;
}

.postcard__tagbox button{
  display: inline-block;
  background: rgba(83, 83, 83, 0.4);
  border-radius: 3px;
  padding: 2.5px 10px;
  margin: 0 5px 5px 0;
  cursor: default;
  user-select: none;
  transition: background-color 0.3s;
}

.btn-home{
  text-align: center;
}